{% extends '::basedt.html.twig' %}

{% block main %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-b-md">
                            <a href="#" class="btn btn-white btn-xs pull-right">Редактировать арбитражное дело</a>
                            <h2>Номер дела: {{ courtCase.caseNumber }}</h2>
                        </div>
                        <dl class="dl-horizontal">
                            <dt>Статус</dt>
                            {% if courtCase.active %}
                            <dd><span class="label label-primary">Активное</span></dd>
                            {% else %}
                            <dd><span class="label label-danger">Не активное</span></dd>
                            {% endif %}
                        </dl>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-5">
                        <dl class="dl-horizontal">
                            <dt>Компания</dt>
                            <dd>{{ courtCase.companyList.name }}</dd>
                            <dt>ИНН</dt>
                            <dd>{{ courtCase.companyList.inn }}</dd>
                            <dt>Сумма иска</dt>
                            <dd><strong>{{ courtCase.sum|number_format(2, ',', ' ') }} &#8381;</strong></dd>
                            <dt>Тип дела</dt>
                            <dd>{{ courtCase.caseType }}</dd>
                        </dl>
                    </div>

                    <div class="col-lg-7">
                        <dl class="dl-horizontal">
                            <dt>Дата</dt>
                            <dd>{{ courtCase.caseDate is empty ? "Не указана" : courtCase.caseDate|date('d.m.Y') }}</dd>
                            <dt>Текущая инстанция</dt>
                            <dd>{{ courtCase.currentInstance }}</dd>
                            <dt>Последнее событие</dt>
                            <dd>{{ courtCase.instanceDate is empty ? "Не указана" : courtCase.instanceDate|date('d.m.Y') }}</dd>
                        </dl>
                    </div>

                </div>

                <div class="row m-t-sm">
                    <div class="col-lg-12">
                        <div class="panel blank-panel">

                            <div class="panel-heading">
                                <div class="panel-options">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#sides" data-toggle="tab" aria-expanded="true">Список участников дела</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="sides">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Наименование</th>
                                                    <th>ИНН</th>
                                                    <th>ОГРН</th>
                                                    <th>Тип участия</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for side in courtCase.sides %}
                                                    <tr>
                                                        <td>{{ side.name }}</td>
                                                        <td>{{ side.inn }}</td>
                                                        <td>{{ side.ogrn }}</td>
                                                        <td>{{ side.typeName }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}