<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MOKODO{% endblock %}</title>

    {% stylesheets filter='cssrewrite'
    "@inspinia_css"
    "@inspinia_less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    {% block stylesheets %}

        <link rel="stylesheet" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-flash-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.css">

    {% endblock %}

    {% javascripts
    "@inspinia_js"
    "@hinclude_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {template: 'menu.html.twig'}) }}
        </div>
    </nav>

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    {% include 'ds_select.html.twig' %}
                    {% include 'ds_search_by_inn.html.twig' %}
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{ logout_url()}}">Выход</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">

                {% block body %}
                    <div class="row">
                        <div id="main" class="col-sm-12">
                            {% block main %}{% endblock %}
                            <div id="ajax_content"></div>
                        </div>
                    </div>
                {% endblock %}
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> IT Standart &copy; 2017
            </div>
        </div>

    </div>
</div>


{% block javascripts '' %}



</body>

</html>
