<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}MOKODO{% endblock %}</title>

    {% stylesheets filter='cssrewrite'
        "@inspinia_css"
        "@inspinia_less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets ''%}

</head>

<body>

<div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {{ knp_menu_render('AppBundle:Builder:mainMenu', {template: 'menu.html.twig'}) }}
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    {% include 'ds_select.html.twig' %}
                    {% include 'ds_search_by_inn.html.twig' %}
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{{ logout_url()}}">Выход</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            {% block body %}
            {% endblock %}
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> IT Standart &copy; 2017
            </div>
        </div>

    </div>
</div>

{% javascripts
    "@inspinia_js"
    "@hinclude_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts '' %}


</body>

</html>
