
    {% if app.session.get('ds_id') %}

        <div class="navbar-form-custom-search  minimalize-styl-2" >
                <span class="glyphicon glyphicon-search"></span>
                <input type="text" style="padding: 4px;"
                       placeholder="Введите ИНН"
                       class="well well-sm" id="search_input"/>
            </div>





    {% endif %}
