<div class="navbar-form-custom  minimalize-styl-2" >
    <select class="form-control ds-select" name="ds_list">
        {% if app.session.get('ds_id') %}
        <option selected="selected" value="{{ app.session.get('ds_id') }}">{{ app.session.get('ds_name') }}</option>
        {% endif %}
    </select>
</div>