{% extends 'bootstrap_3_layout.html.twig' %}


{% block form_row%}
    {{ parent() }}
    {% if form.vars.help is defined and form.vars.help%}
        <span class="help-block help-block-yellow"><span class="glyphicon glyphicon-warning-sign"></span> {{ form.vars.help|trans|raw }}</span>
    {% endif %}
{% endblock %}