<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% stylesheets filter='cssrewrite'
    "@inspinia_css"
    "@inspinia_less"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block stylesheets ''%}


</head>

<body class="skin-2 pace-done gray-bg">
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>MOKODO</h3>
        {%  block content '' %}
    </div>
</div>
</body>

{% javascripts
"@inspinia_js"
"@hinclude_js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block javascripts '' %}

</html>