{% extends 'knp_menu.html.twig' %}

{% block root %}
    <u class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <div class="dropdown profile-element">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="clear">
                        <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username }}</strong></span>
                    </span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
                </ul>
            </div>
            <div class="logo-element">
                ОДО
            </div>
        </li>
        {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import 'knp_menu.html.twig' as knp_menu %}
            {{ block('children') }}
        {% endif %}
    </u>
{% endblock %}


{% block item %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <li {% if matcher.isCurrent(item) %} class="active" {% endif %}>
        {{ block('linkElement') }}

        {%- set listAttributes = {'class': 'nav nav-second-level'} %}
        {{ block('list') }}
    </li>
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% spaceless %}
        <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
            {% if item.parent.name == 'root' %}
                {% if item.extra('icon')%}
                    <i class="{{ item.extra('icon')  }}"></i>
                {% endif %}
                <span class="nav-label">
            {% endif %}
            {{ item.name }}
            {% if item.parent.name == 'root' %}
                </span>
                {% if item.children|length %}
                    <span class="fa arrow"></span>
                {% endif %}
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}
