{% extends '::basedt.html.twig' %}

{% block main %}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox">
        <div class="ibox-content">

            <div class="row">
                <div class="col-lg-12">
                    <div class="m-b-md">
                        <a href="#" class="btn btn-white btn-xs pull-right">Редактировать контракт</a>
                        <h2>Номер контракта: {{ contract.contractNumber }}</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>Статус</dt>
                        <dd><span class="label label-primary">{{ contract.status }}</span></dd>
                    </dl>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-5">
                    <dl class="dl-horizontal">
                        <dt>Поставщик</dt>
                        <dd>{{ contract.companyList.name }}</dd>
                        <dt>ИНН</dt>
                        <dd>{{ contract.companyList.inn }}</dd>
                        <dt>Сумма контракта</dt>
                        <dd><strong>{{ contract.sum|number_format(2, ',', ' ') }} &#8381;</strong></dd>
                        <dt>Номер закона</dt>
                        <dd>{{ contract.lawNumber }}</dd>
                        <dt>Предмет</dt>
                        <dd>{{ contract.subject }}</dd>
                    </dl>
                </div>

                <div class="col-lg-7">
                    <dl class="dl-horizontal">
                        <dt>Дата заключения</dt>
                        <dd>{{ contract.contractDate is empty ? "Не указана" : contract.contractDate|date('d.m.Y') }}</dd>
                        <dt>Срок исполнения</dt>
                        <dd>{{ contract.termDate is empty ? "Не указана" : contract.termDate|date('d.m.Y') }}</dd>
                        <dt>Дата исполнения</dt>
                        <dd>{{ contract.execDate is empty ? "Не указана" : contract.execDate|date('d.m.Y') }}</dd>
                        <dt>Дата расторжения</dt>
                        <dd>{{ contract.cancelDate is empty ? "Не указана" : contract.cancelDate|date('d.m.Y') }}</dd>
                    </dl>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}