{% extends '::base.html.twig' %}

{% block body %}
    <div class="ibox-content text-center">
        <h2>Раздел в разработке</h2>
        <div class="h1 m-t-xs text-navy">
            <span class="loading bullet"></span>
        </div>
    </div>
{% endblock %}

