{% extends '::basedt.html.twig' %}

{% block main %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h2 class="no-margins">
                        {{ companyCard.name }}
                    </h2>
                    <h4>
                        СТАТУС: {{ companyCard.status }}
                    </h4>
                    <small>
                        АДРЕС: {{ companyCard.address }}
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>ИНН:</strong>
                                {{ companyCard.companyList.inn }}
                            </td>
                            <td>
                                <strong>ОГРН:</strong>
                                {{ companyCard.ogrn }}
                            </td>
                            <td>
                                <strong>РЕГИОН:</strong>
                                {{ companyCard.regionCode }}
                            </td>
                        </tr>
                    <tr>
                        <td>
                            <strong>КАПИТАЛ:</strong>
                            {{ companyCard.capital|number_format(0, '', ' ') }}
                        </td>
                        <td>
                            <strong>КОМПАНИЙ ПО АДРЕСУ:</strong>
                            {{ companyCard.companiesAtThisAddress }}
                        </td>
                        <td>
                            <strong>ИНДЕКС БЛАГОНАДЕЖНОСТИ:</strong>
                            {{ companyCard.trustworthinessIndex }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#phones" aria-expanded="true">Телефоны</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#emails" aria-expanded="false">Почта</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="phones" class="tab-pane active">
                            <div class="panel-body">
                                <ul class="tag-list" style="padding: 0">
                                    {% for phone in companyCard.phones %}
                                        <li><a>{{ phone.phone }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="emails" class="tab-pane">
                            <div class="panel-body">
                                <ul class="tag-list" style="padding: 0">
                                    {% for email in companyCard.emails %}
                                        <li><a>{{ email.email }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Контракты</h2>
            {{ sg_datatables_render(contracts) }}
        </div>
        <div>
            <h2>Карточка арбитражной практики</h2>
            {{ sg_datatables_render(courtCases) }}
        </div>



    </div>
{% endblock %}