{% extends '::login_layout.html.twig' %}

{% block content %}
    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">

        {% trans_default_domain 'FOSUserBundle' %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label for="_username" class="sr-only">Логин</label>
            <input type="text" id="username" class="form-control"
                   placeholder="Логин" required autofocus
                   name="_username" value="{{ last_username }}">
        </div>

        <div class="form-group">
            <label for="_password" class="sr-only">Пароль</label>
            <input type="password"  class="form-control"
                   placeholder="Пароль" required
                   id="password" name="_password">
        </div>

        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input id="remember_me" name="_remember_me" value="on" type="checkbox"> Запомнить меня
                </label>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary block full-width m-b" type="submit"
                    id="_submit" name="_submit">Войти</button>
        </div>
    </form>
{% endblock %}
