<div class="row">
    <div class="col-lg-12">
        {% block alerts %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                        {{ flashMessage|trans({}, domain|default('messages')) }}
                    </p>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p>
                        {{ flashMessage|trans({}, domain|default('messages')) }}
                    </p>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
</div>