{% extends 'base.html.twig' %}


{% block body %}



    <div class="row">
        <div class="col-lg-6">
            <div class="text-left m-t-lg">
                <h1>Добавить новый источник данных</h1>
            </div>
        </div>
    </div>

    {% include 'AppBundle:DataSource:flashAlert.html.twig' %}

    <div class="row">
        <div class="col-lg-6">
            <div class="text-left m-t-lg">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.src) }}
                {{ form_row(form.title) }}

                <div class="text-left">
                    <div class="btn-group">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <hr/>

    {% set title ='Список источников'%}

    {% block content %}
        {{ dtViewTablePaginated(filters, pagination, [
        {field: 's.id', label: 'ID', property : 'id'},
        {field: 's.title', label: 'Заголовок', property : 'title'},
        {field: 's.created', label: 'Дата добавления', property : 'createdDateTimeString'},
        {label: '',  template: 'AppBundle:DataSource:indexButtons.html.twig'},
        ]) }}
    {% endblock %}




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@ITSymfonyDataTableBundle/Resources/public/scripts.js"
    %}
    <script src="{{ asset_url }}"></script>
    <script>$('.file-inputs').bootstrapFileInput();</script>
    {% endjavascripts %}

{% endblock %}