 <div class=" dropdown-menu-right btn-group" role="group">
        <button type="button" class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Действия
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ path('ds_view', {id: row.id }) }}"><span class="glyphicon glyphicon-arrow-right"></span> Подробнее</a></li>
            <li><a href="{{ path('ds_remove', {id: row.id }) }}"><span class="glyphicon glyphicon-trash"></span> Удалить</a></li>
        </ul>
 </div>
