{% extends 'base.html.twig' %}


{% block body %}

    <h3>Источник данных: {{ title }}</h3>
    <br/>
    {% block content %}
        {{ dtViewTablePaginated(filters, pagination, [
        {field: 's.id', label: 'ID', property : 'id'},
        {field: 's.inn', label: 'ИНН', property : 'inn'},
        {field: 's.name', label: 'Наименование', property : 'name'},
        {field: 's.created', label: 'Дата добавления', property : 'createdDateTimeString'},
        ]) }}
    {% endblock %}


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@ITSymfonyDataTableBundle/Resources/public/scripts.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}