function rowCallback(nRow, aData, index) {
    var route = "{{ route }}";
    var $nRow = $(nRow);
    var url = route + aData.companyList.id
    $nRow.attr('ondblclick','changePage("'+url+'")')
    $nRow.css({"background-color": "#ccc"});
    return nRow;
}