function rowCallback(nRow, aData, index) {
    var route = "{{ route }}";
    var $nRow = $(nRow);
    var url = route + aData.id
    $nRow.attr('ondblclick','changePage("'+url+'")');


    if(aData.level.commitment < aData.contractSumm) {
        $('td:eq(2)', nRow).css({"background-color": "#f2dede"});
    }
    else if((aData.level.commitment >= aData.contractSumm)&& (aData.contractSumm>=0.9*aData.level.commitment)){
        $('td:eq(2)', nRow).css({"background-color": "#fcf8e3"});
    } else {
        $('td:eq(2)', nRow).css({"background-color": "#d6e9c6"});
    }

    if(aData.levelVV.commitment < aData.contractMaxSumm) {
        $('td:eq(3)', nRow).css({"background-color": "#f2dede"});
    }
    else if((aData.levelVV.commitment >= aData.contractMaxSumm)&& (aData.contractMaxSumm>=0.9*aData.levelVV.commitment)){
        $('td:eq(3)', nRow).css({"background-color": "#fcf8e3"});
    } else {
        $('td:eq(3)', nRow).css({"background-color": "#d6e9c6"});
    }

    $nRow.css({"background-color": "#ccc"});

    return nRow;
}