{% extends '::basedt.html.twig' %}

{% block main %}
    {% if datatable != false  %}
     {{ sg_datatables_render(datatable) }}
        {% else %}
            <h2>Не выбран источник</h2>
    {% endif %}
{% endblock %}

